
PORT=3001
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=health-system
KEYCLOAK_CLIENT_ID=health-system-client
PATIENT_SERVICE_URL=http://localhost:3010
DOCTOR_SERVICE_URL=http://localhost:3003
APPOINTMENT_SERVICE_URL=http://localhost:3004
TELEMEDICINE_SERVICE_URL=http://localhost:3006
NOTIFICATION_SERVICE_URL=http://localhost:3007
AI_SERVICE_URL=http://localhost:3008